@font-face {
    font-family: 'Exo 2.0 Thin';
    src: url('../fonts/Exo2.0-Thin.woff2') format('woff2'),
        url('../fonts/Exo2.0-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}